@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.outer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    & + & {
      margin-left: 45px;
    }
  }
}

.title {
  padding-top: 100px;
  padding-bottom: 130px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.examples {
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.25;
    text-transform: uppercase;
    padding-bottom: 60px;
  }
  &__content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 150px;
  }
}

.website {
  display: block;

  &__content {
    // Переделать через clamp
    transition: all 0.55s;
    width: 300px;
    max-height: 400px;
    overflow: hidden;
    box-shadow: 0px 0px 54px 15px rgba(41, 95, 137, 0.2);
    margin-bottom: 35px;
    border-radius: 5px;
    &:hover {
      overflow-y: scroll;
      box-shadow: 0px 0px 54px 15px rgba(41, 95, 137, 0.5);
      border-radius: 0;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: #60b9ce;
    }
    &::-webkit-scrollbar-thumb {
      background: #04819e;
    }
  }
  &__img {
    width: inherit;
    height: auto;
  }
  &__link {
    // display: none;
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.footer {
  &__inner {
    padding-bottom: 40px;
  }
}
