@import "vars";
@import "reset";
@import "fonts";
@import "libs";
@import "global";

.header {
  &__logo {
    padding: 0 6px;
  }
}

.outer-menu {
  line-height: 1.5;

  &__list {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
  }

  &__item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0 29px;

    & + & {
      border-left: 1px solid #c4c4c4;
    }
  }

  &__phone {
    min-width: 125px;
    font-size: 16px;
    line-height: 19px;
  }

  &__salons {
    // min-width: 139px;

    font-size: 16px;
    line-height: 19px;
    padding-right: 35px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/drop-down-arrow.svg);
      width: 20px;
      height: 20px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__salons-list {
    opacity: 0;
    position: absolute;
    left: -100%;
    right: 0;
    bottom: 0;
    max-height: 400px;
    transform: translateY(100%) scale(0);
    background-color: #7ddfc9;
    transition: opacity 0.3s;
    display: flex;
    // display: none;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 30px;
  }

  &__salons-item {
    font-size: 16px;
    padding: 10px;

    &:nth-child(2n) {
      margin-left: 50px;
    }
  }

  &__text {
    max-width: 300px;
    font-size: 12px;
    font-weight: 400;
  }

  &__privacy-politic {
    font-size: 12px;
    text-decoration-line: underline;
    display: inline-block;
    margin: 0 auto;
  }
}

.drop-down {
  transition: all 0.3s;
  position: relative;
  z-index: 5;

  &:hover {
    background-color: #7ddfc9;

    .outer-menu__salons-list {
      transform: translateY(100%) scale(1);
      opacity: 1;
    }
  }
}

.social {
  flex-grow: 0;
  padding: 0;

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 0 27px;
    height: 100%;

    // &+& {
    //     padding-left: 27px;
    // }
  }
}

.unseeing-btn {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 13px 15px 11px 51px;
  background-color: $blue;
  color: #fff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/eye.svg);
    width: 26px;
    height: 22px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.menu-adaptive {
  display: none;
  position: relative;

  &__top-navigation {
    min-height: 90px;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 5;
    background-color: #fff;
  }

  &__list {
    transform: translateY(-110%);
    transition: transform 0.8s;
    border-right: 3px solid #7ddfc9;
    border-left: 3px solid #7ddfc9;
    border-bottom: 2px solid #7ddfc9;
    line-height: 1.5;
    font-size: 18px;
    position: absolute;
    background-color: #fff;
    padding-top: 110px;
    top: 0;
    left: -3px;
    right: -3px;
    z-index: 4;

    &--active {
      transform: translateY(0);
    }
  }

  &__list-item {
    text-align: center;
    padding: 15px 20px;

    &.social {
      padding-top: 15px;
    }

    & > .social__list {
      max-width: 315px;
      width: 100%;
      justify-content: center;
      margin: 0 auto;

      & > .social__item {
        padding: 0 20px;
      }
    }
  }

  &__item {
    height: 100%;
    padding: 0 20px;
  }

  & .unseeing-btn {
    border-radius: 3px;
    padding: 15px 26px;
    font-size: 12px;

    &::before {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__item-unseeing-btn {
    padding-top: 0;
    display: none;
  }

  &__logo {
    text-align: center;
    flex-grow: 1;
  }

  &__sign-in {
    border: 1px solid $blue;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 7px 14px;
    max-width: 210px;
    width: 100%;
  }

  &__salons-list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
    overflow: hidden;
    height: 0;
    max-height: 0;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.6s;
  }

  &__salons-item {
    display: inline-block;
  }

  &__salons {
    padding-bottom: 40px;

    & .menu-adaptive__salons-list--active {
      padding-top: 40px;
      height: 100%;
      max-height: 600px;
      transform: translateY(0);
      overflow: visible;
      opacity: 1;
    }
  }

  &__salons-hover-link {
    display: inline-block;
    position: relative;
    padding-right: 25px;
    padding-left: 5px;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/drop-down-arrow.svg);
      width: 20px;
      height: 20px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__burger-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__burger-line {
    width: 100%;
    height: 3px;

    background-color: $blue;
    border-radius: 3px;

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      left: 0;
      right: 0;
      width: 100%;
      background-color: $blue;
      top: 5px;
      border-radius: 3px;
    }

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      left: 0;
      right: 0;
      width: 100%;
      background-color: $blue;
      bottom: 5px;
      border-radius: 3px;
    }
  }
}

.info {
  background-color: $sky-blue;
  margin-bottom: 80px;

  &__top {
    min-height: 87px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;

  &__list {
    margin-left: 60px;
    height: 100%;
    display: flex;
  }

  &__item {
    font-size: 18px;
    color: #fff;

    & + & {
      margin-left: 65px;
    }
  }

  &__sign-btn {
    margin-right: 10px;
    font-size: 18px;
    line-height: 21px;
    padding: 9px 15px 10px;
    background-color: #fff;
  }
}

.tabs-panel {
  color: #fff;
  display: flex;
  flex-direction: column;

  &__switcher {
    order: 2;
    font-size: 21px;
    line-height: 1.5;
    display: flex;
    min-height: 80px;
  }

  &__section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 10px;
    width: 100%;
    background-color: $blue;

    &:nth-child(2n) {
      background-color: transparent;
    }

    &:not(:first-child) {
      max-width: 324px;
    }
  }

  &__item {
    transition: all 0.3s;

    &:focus {
      outline: none;
    }

    &--active {
      text-decoration: underline;
    }
  }

  &__content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-between;

    &--active {
      transition: opacity 0.55s ease-in-out;
      opacity: 1;
      height: auto;
      overflow: visible;
    }
  }

  &__slider {
    max-width: 746px;
  }

  &__text {
    padding-top: 133px;
  }

  &__title {
    font-size: 48px;
    line-height: 1.5;
    padding-bottom: 20px;
  }

  &__description {
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 416px;
  }

  &__more-info {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    padding: 15px 25px 14px;
    background-color: $blue;
    display: inline-block;
  }
}

.slider-item {
  position: relative;

  &__arrow {
    position: absolute;
    left: -120px;
    bottom: 60px;
    cursor: pointer;

    &--left {
      left: -179px;
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.about {
  margin-bottom: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__stat {
    padding-top: 35px;
  }
}

.innovation {
  color: #fff;

  &__inner {
    background-color: $blue;
    max-width: 526px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    padding: 35px 0 45px 40px;
  }

  &__title {
    background-color: $sky-blue;
    margin-bottom: 30px;
  }

  &__description {
    padding-right: 15px;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 25px;
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    padding-left: 70px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      margin: auto 0;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 40px;
    }
  }
}

.stat {
  max-width: 636px;
  width: 100%;

  &__inner {
    color: #000;
    position: relative;
  }

  &__title {
    background-color: $sky-blue;
    margin-bottom: 30px;
  }

  &__patent-img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    line-height: 1.5;
    font-size: 14px;

    &:not(:last-child) {
      padding-bottom: 15px;
    }

    &:hover {
      padding-top: 5px;
      padding-bottom: 20px;

      .stat__item-order {
        font-size: 6.8em;
        color: $blue;
      }

      .stat__item-text {
        font-size: 2em;
        margin-left: 30px;
      }
    }
  }

  &__item-order {
    transition: all 0.5s ease-out;
    font-size: 3.4em;
  }

  &__item-text {
    transition: all 0.5s ease-out;
    margin-left: 20px;
    display: inline-block;
    // max-width: 144px;
    font-size: 1em;
  }
}

.news {
  margin-bottom: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__titles {
    color: #fff;
    max-width: 526px;
    width: 100%;
    padding-top: 35px;
    background-color: $sky-blue;
  }

  &__box-title {
    background-color: $blue;
    margin-bottom: 30px;
    margin-left: 40px;
    font-size: 18px;
    line-height: 21px;
  }

  &__title-link {
    display: inline-block;
    padding: 35px 40px;
    font-size: 18px;
    line-height: 1.5;
  }

  &__titles-item {
    &--active {
      transition: all 0.6s;
      background-color: $blue;
    }
  }
}

.article {
  padding: 35px 60px 0;

  // flex-shrink: 2;
  &__box {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.6s;

    &--active {
      height: auto;
      overflow: visible;
      opacity: 1;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 25px;
  }

  &__list-item {
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      left: 0;
      top: 7px;
      border-radius: 2px;
      background-color: $blue;
    }
  }

  &__item-text {
    line-height: 1.5;
  }
}

.actual-offers {
  position: relative;
  color: #fff;
  margin-bottom: 100px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 350px;
    right: 0;
    left: 0;
    background-color: rgba($blue, 0.1);
    z-index: -1;
  }

  &__inner {
    padding-top: 80px;
  }

  &__title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
    color: $blue;
  }

  &__boxes {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
  }

  &__box-item {
    background-color: $blue;
    position: relative;
    padding-bottom: 25px;
  }

  &__box-title {
    background-color: $sky-blue;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &__box-img {
    margin-bottom: 25px;
  }

  &__box-link {
    display: inline-block;
    font-weight: 700;
    font-size: 21px;
    padding-right: 65px;
    line-height: 1.5;
    margin-left: 30px;
    position: relative;
    max-width: 246px;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      right: 0;
      top: 7px;
      width: 50px;
      height: 40px;
    }
  }

  &__link-text {
    display: inline-block;
    max-width: 181px;
  }
}

.services {
  margin-bottom: 80px;

  &__inner {
    display: grid;
    row-gap: 30px;
    column-gap: 134px;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 51px;
  }

  &__box-title {
    font-size: 21px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__list-item {
    line-height: 1.5;
    margin-bottom: 15px;
  }

  &__contacts {
    grid-row: span 2;
    margin-right: 0;
  }

  &__subtitle {
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.5;
    margin-bottom: 10px;
  }

  &__phone,
  &__address {
    font-size: 21px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__phone {
    display: inline-block;
  }

  &__address {
    margin-bottom: 15px;
  }

  &__address-link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
    display: inline-block;
    padding: 15px 25px 14px;
    background-color: $blue;
  }
}

.footer {
  &__inner {
    border-top: 1px solid #c4c4c4;
  }

  &__item-text {
    padding-left: 25px;
    padding-right: 0;
  }

  &__unseeing-btn {
    flex-grow: 0;
  }
}

@media (max-width: 1355px) {
  .actual-offers {
    &__boxes {
      grid-template-columns: repeat(2, minmax(min-content, max-content));
      row-gap: 40px;
      justify-content: center;
      column-gap: 15%;
    }

    &__box-item {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 1325px) {
  .header .outer-menu {
    display: none;
  }

  .menu-adaptive {
    display: block;
  }

  .slider-item {
    display: none;
  }

  .menu {
    &__list {
      margin-left: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      white-space: nowrap;
    }

    &__item {
      padding: 10px 20px;

      & + & {
        margin-left: 0;
      }
    }

    &__sign-btn {
      display: none;
      min-width: 120px;
      text-align: center;
      margin-left: 20px;
    }
  }

  .tabs-panel {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;

    &__switcher {
      margin: 0 40px;
      order: -1;
      max-width: 320px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }

    &__section-title {
      padding: 0 20px;
      min-height: 90px;
      // flex-grow: 1;
    }

    &__inner {
      padding: 50px 10px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__content {
      display: block;
      // width: 100%;
    }

    &__text {
      padding-top: 0px;
    }

    &__title {
      padding-top: 0;
    }
  }

  .stat {
    padding: 35px 20px 0;
  }

  .services {
    &__inner {
      column-gap: 5%;
      justify-content: center;
    }
  }
}

@media (max-width: 1230px) {
  .info {
    margin-bottom: 20px;
  }

  .innovation {
    flex-basis: 100%;

    &__inner {
      margin: 0 auto;
    }
  }

  .stat {
    order: -1;
    margin: 0 auto;
    margin-bottom: 45px;
    min-height: 550px;
  }

  .unseeing-btn {
    border-radius: 3px;
    padding: 20px 26px;

    &__text {
      display: none;
    }

    &::before {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 1150px) {
  .news {
    &__title-link {
      font-size: 14px;
    }
  }
}

@media (max-width: 1050px) {
  .news {
    &__inner {
      flex-wrap: wrap;
    }

    &__titles {
      margin: 0 auto 30px;
    }
  }

  .footer {
    .outer-menu {
      &__list {
        flex-direction: column;
      }

      &__item {
        padding: 25px;
        border-left: none;
        &.footer__unseeing-btn {
          padding-bottom: 0;
        }
      }
      &__text {
        text-align: center;
        max-width: 100%;
        margin-bottom: 30px;
      }
    }
    .unseeing-btn {
      &__text {
        display: block;
        text-align: center;
      }

      &::before {
        display: none;
      }
    }

    &__item-text {
      display: flex;
      flex-direction: column;
    }

    .social {
      &__item {
        padding: 15px;
      }
    }
  }
}

@media (max-width: 945px) {
  .menu {
    &__item:nth-last-child(-n + 2) {
      flex-basis: 50%;
      text-align: center;
    }
  }
}

@media (max-width: 910px) {
  .tabs-panel {
    &__inner {
      text-align: center;
      padding-top: 20px;
      padding-left: 0;
      padding-right: 0;
      order: -2;
    }

    &__section-title {
      min-width: 295px;
      min-height: 65px;
    }
  }

  .services {
    margin-bottom: 40px;

    &__inner {
      grid-template-columns: repeat(2, minmax(min-content, max-content));
      column-gap: 10%;
    }

    &__box {
      order: -1;
      margin-right: 0;
    }

    &__contacts {
      order: 1;
      grid-column: span 2;
      justify-self: center;
    }
  }
}

@media (max-width: 775px) {
  .actual-offers {
    margin-bottom: 40px;

    &__boxes {
      grid-template-columns: repeat(1, minmax(min-content, max-content));
      row-gap: 25px;
      justify-content: center;
      column-gap: 0;
    }

    &__box-item {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 610px) {
  .menu {
    display: none;
  }

  .tabs-panel {
    &__switcher {
      margin: 0;
    }
  }

  .stat {
    &__item {
      font-size: 12px;
    }
  }

  .innovation {
    flex-basis: auto;
    margin: 0 auto;

    &__description {
      font-size: 25px;
    }

    &__img {
      align-self: center;
    }
  }

  .article {
    padding: 35px 20px;

    &__title {
      font-size: 20px;
    }

    &__item-text {
      font-size: 13px;
    }
  }

  .news {
    margin-bottom: 40px;
  }
}

@media (max-width: 520px) {
  .about {
    margin-bottom: 40px;
  }

  .stat {
    min-height: auto;
    margin-bottom: 60px;
    width: auto;

    &__patent-img {
      display: none;
    }

    &__item {
      pointer-events: none;
    }
  }

  .menu-adaptive {
    &__logo {
      text-align: right;
    }

    &__unseeing-btn {
      display: none;
    }

    &__item-unseeing-btn {
      display: block;
    }

    & .unseeing-btn {
      max-width: 210px;
      width: 100%;
      border-radius: 3px;
      padding: 10px 17px;

      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .actual-offers {
    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: 450px) {
  .article {
    padding: 15px 0;

    &__title {
      text-align: center;
      font-size: 18px;
    }
  }

  .tabs-panel {
    &__inner {
      padding-bottom: 0;
    }

    &__title {
      font-size: 36px;
    }

    &__section-title {
      font-size: 16px;
      min-width: 260px;
    }

    &__text {
      min-height: 320px;
    }

    &__switcher {
      padding-top: 35px;
    }
  }

  .innovation {
    &__description {
      font-size: 18px;
    }
  }

  .menu-adaptive {
    &__salons-list {
      grid-template-columns: 1fr;
    }
  }

  .services {
    &__inner {
      grid-template-columns: repeat(1, minmax(min-content, max-content));
    }

    &__contacts {
      grid-column: span 1;
    }

    &__box {
      text-align: center;
      margin: 0 auto;
    }

    &__box-title {
      margin-left: auto;
      margin-right: auto;
    }

    &__box-container {
      margin: 0 auto;
    }
  }
}

@media (max-width: 380px) {
  .actual-offers {
    &__title {
      font-size: 30px;
    }
  }
}

@media (max-width: 340px) {
  .innovation {
    &__description {
      font-size: 16px;
    }
  }
}
